<div class="big-circle"></div>
<div class="small-circle"></div>
<div class="mini-circle-1"></div>
<div class="fret"></div>
<div class="tune">=</div>
<div class="diff"></div>
<style>
  body{
    background:#F3AC3C;
    position:relative;
  }
  .big-circle {
    width: 120px;
    height: 120px;
    background: #998235;
    border-radius:50%;
    position:absolute;
    top:29%;
    left:10%;
  }
  .small-circle {
    width: 98px;
    height: 98px;
    background: #998235;
    border-radius:50%;
    position:absolute;
    top:33%;
    left:29%;
    z-index:1;
  }
  .mini-circle-1 {
    width: 40px;
    height: 40px;
    background: #1A4341;
    border-radius:50%;
    position:absolute;
    top:39vh;
    left:33vw;
    border:5px solid #F3AC3C;
    z-index:1;
    
  }
  .fret{
    position:absolute;
    width:120px;
    height:20px;
    background:#1A4341;
    top:44vh;
    left:50vw;
    z-index:0;
  }
  .tune{
    position:absolute;
    width:40px;
    height:30px;
    border-radius:10px;
    background:#998235;
    top:42.5vh;
    left:77vw;
    color:#1A4341;
    font-size:45px;
    font-weight:400;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family: 'Oswald', sans-serif;
  }
  .diff{
    height:40px;
    width:10px;
    border-radius:50px;
    position:absolute;
    background:#1A4341;
    top:40.5vh;
    left:20vw;
  }
    
  }
</style>
